<form ng-submit="save()">
  <label>Title</label><input type="text" ng-model="title"><br>
  <label>Country</label><input type="text" ng-model="country"><br>
  <label>Month</label><input type="text" ng-model="month"><br>
  <label>Year</label><input type="text" ng-model="year"><br>
  <label>Description</label><textarea rows="2" cols="50" ng-model="description"></textarea><br>

  <!-- <input type="file" ng-file-select="onFileSelect($files)"> -->
  <input type="submit">
  <!-- <button ng-click="upload.abort()">Cancel Upload</button> -->
</form>